:root{
  --watermelon: #FF383F;
  --sky-blue: #CAEBF2;
}
body {
  margin: 0;
  background-image: url("https://images.unsplash.com/photo-1472390155757-7704d54b9dc7?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg");
  background-size: cover;
  font-family: "Space Mono", monospace;
}

.keyboard {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  margin: .2em;
  padding: 1em 0;
  border: 3px solid var(--sky-blue);
  background: hsla(0, 0%, 100%, .5);
  transition: all 0.07s;
}

.sound {
  color: var(--watermelon);
  font-size: 17px;
}

.highlight {
  transform: scale(1.2);
  border-color: var(--watermelon);
  box-shadow: 0 0 10px var(--watermelon);
}
